# Virtual env
venv/
.env

# Example env file - (you asked to ignore it)
.env.example

# Python bytecode / caches
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Distribution / Packaging
build/
dist/
*.egg-info/
*.egg
*.whl

# IDEs / editors
.vscode/
.idea/

# OS / misc
.DS_Store
*.log

# Installer script or bootstrap
get-pip.py
